<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="CalculatorSuite">

    <test name="ValidTests">

        <groups>
            <run>
                <include name="valid"/>
            </run>
        </groups>

        <classes>
            <class name="com.example.LucasTest"/>
        </classes>

    </test>

    <test name="InvalidTests">

        <groups>
            <run>
                <include name="invalid"/>
            </run>
        </groups>

        <classes>
            <class name="com.example.LucasTest"/>
        </classes>

    </test>

</suite>